@-webkit-keyframes swipe-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes swipe-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes swipe-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes swipe-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animation-swipe-in {
  -webkit-animation: swipe-in 0.15s 1 ease-in-out !important;
  -moz-animation: swipe-in 0.15s 1 ease-in-out !important;
  -o-animation: swipe-in 0.15s 1 ease-in-out !important;
  animation: swipe-in 0.15s 1 ease-in-out !important;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
}
@-webkit-keyframes swipe-in-reverse {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes swipe-in-reverse {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes swipe-in-reverse {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes swipe-in-reverse {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animation-swipe-in-reverse {
  -webkit-animation: swipe-in-reverse 0.15s 1 ease-in-out !important;
  -moz-animation: swipe-in-reverse 0.15s 1 ease-in-out !important;
  -o-animation: swipe-in-reverse 0.15s 1 ease-in-out !important;
  animation: swipe-in-reverse 0.15s 1 ease-in-out !important;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
}
@-webkit-keyframes swipe-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-moz-keyframes swipe-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-o-keyframes swipe-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes swipe-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.animation-swipe-out {
  -webkit-animation: swipe-out 0.15s 1 ease-in-out !important;
  -moz-animation: swipe-out 0.15s 1 ease-in-out !important;
  -o-animation: swipe-out 0.15s 1 ease-in-out !important;
  animation: swipe-out 0.15s 1 ease-in-out !important;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
}
@-webkit-keyframes swipe-out-reverse {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@-moz-keyframes swipe-out-reverse {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@-o-keyframes swipe-out-reverse {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes swipe-out-reverse {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.animation-swipe-out-reverse {
  -webkit-animation: swipe-out-reverse 0.15s 1 ease-in-out !important;
  -moz-animation: swipe-out-reverse 0.15s 1 ease-in-out !important;
  -o-animation: swipe-out-reverse 0.15s 1 ease-in-out !important;
  animation: swipe-out-reverse 0.15s 1 ease-in-out !important;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
}
[data-sidebar] {
  width: 253px;
  position: fixed;
  top: 44px;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  z-index: 1000;
  font-size: 0.75em;
  overflow: visible;
  -webkit-transform: translate3D(-100%, 0, 0);
  -moz-transform: translate3D(-100%, 0, 0);
  -o-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0);
}
[data-sidebar] .sidebar-wrapper {
  position: absolute;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 5px;
  padding-right: 7px;
  padding-bottom: 0;
  min-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 24px;
  overflow-x: hidden;
}
[data-sidebar] .sidebar-wrapper.sidebar-help-open {
  bottom: 124px;
}
[data-sidebar].show {
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}
[data-sidebar].show.animating .sidebar-view.show {
  -webkit-animation: swipe-in 0.15s 1 ease-in-out !important;
  -moz-animation: swipe-in 0.15s 1 ease-in-out !important;
  -o-animation: swipe-in 0.15s 1 ease-in-out !important;
  animation: swipe-in 0.15s 1 ease-in-out !important;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
}
[data-sidebar].show.animating .sidebar-view.sidebar-view-out {
  -webkit-animation: swipe-out 0.15s 1 ease-in-out !important;
  -moz-animation: swipe-out 0.15s 1 ease-in-out !important;
  -o-animation: swipe-out 0.15s 1 ease-in-out !important;
  animation: swipe-out 0.15s 1 ease-in-out !important;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
}
[data-sidebar].show.animating.back .sidebar-view.sidebar-view-out {
  -webkit-animation: swipe-out-reverse 0.15s 1 ease-in-out !important;
  -moz-animation: swipe-out-reverse 0.15s 1 ease-in-out !important;
  -o-animation: swipe-out-reverse 0.15s 1 ease-in-out !important;
  animation: swipe-out-reverse 0.15s 1 ease-in-out !important;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
}
[data-sidebar].show.animating.back .sidebar-view.show {
  -webkit-animation: swipe-in-reverse 0.15s 1 ease-in-out !important;
  -moz-animation: swipe-in-reverse 0.15s 1 ease-in-out !important;
  -o-animation: swipe-in-reverse 0.15s 1 ease-in-out !important;
  animation: swipe-in-reverse 0.15s 1 ease-in-out !important;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
}
[data-sidebar] .sidebar-view {
  min-height: 100%;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
[data-sidebar] .sidebar-view.show {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[data-sidebar] .sidebar-view p {
  letter-spacing: 1px;
}
[data-sidebar].back .sidebar-view {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
[data-sidebar].back .sidebar-view.show {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[data-sidebar] button {
  background: #4d4d4d !important;
  padding: 5px 10px;
  display: inline-block;
  width: auto;
  font-size: 12px;
  margin: 5px 7px 5px 5px;
  position: absolute;
  top: 0;
}
[data-sidebar] nav {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: table;
  width: 100%;
  height: 37px;
  margin-bottom: .5em;
}
[data-sidebar] nav span {
  font-size: 1.25em;
  display: table-cell;
  vertical-align: middle;
  font-weight: 400;
  font-family: 'Proxima N W15 Bold';
  text-transform: uppercase;
  padding-top: 3px;
  letter-spacing: 1px;
  color: #b1b2b3;
}
[data-sidebar] .sidebar-open-tab {
  display: none;
}
[data-sidebar].toggle-enabled .sidebar-open-tab {
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: rgba(49, 54, 56, 0.2);
  border-bottom-right-radius: 2px;
  transition-duration: 0.3s;
  z-index: 1;
  font-size: 1em;
  color: white;
  overflow-x: hidden;
  display: table;
  text-align: center;
  cursor: pointer;
}
[data-sidebar].toggle-enabled .sidebar-open-tab:before {
  font-size: 1em;
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: 500;
  font-style: normal;
  content: "\203A";
}
[data-sidebar].toggle-enabled.show .sidebar-open-tab {
  width: 5px;
}
[data-sidebar].toggle-enabled.show .sidebar-open-tab:before {
  font-size: 1em;
  content: "\2039";
}
